{deps, [
  {gen_icmp, ".*", {git, "https://github.com/msantos/gen_icmp.git"}},
  {lager,    ".*", {git, "https://github.com/basho/lager.git"}}
]}.

%{post_hooks, [
%  {compile, "sudo chown root deps/procket/priv/procket"},
%  {compile, "sudo chmod 4750 deps/procket/priv/procket"}
%  {compile, "rm deps/procket/priv/procket"},
%  {compile, "cp built/procket deps/procket/priv"}
%]}.

{erl_opts,
  [{parse_transform, lager_transform}]}.

