[
  % NOTE: The log path is also used in vm.args.base
  {lager, [
    {handlers, [
      {lager_console_backend, debug},
      {lager_file_backend, [{file, "logs/error.log"}, {level, error}, {count, 10}]}, % Use default size of 10M
      {lager_file_backend, [{file, "logs/console.log"}, {level, info}, {count, 10}]},
      {lager_file_backend, [{file, "logs/debug.log"}, {level, debug}, {count, 10}]}
    ]},
    {crash_log, "logs/crash.log"},
    {crash_log_size, 10485760},
    {crash_log_count, 10}
  ]}

  %{jobs, [
  %  {queues, [{q, [{regulators, [{counter,[{limit, 2}]}]}]}]}
  %]}

].

